

.from-container{
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 400px;
  min-width: 400px;

}

.from-container>h1{
  font-size: 25px;
  color: blueviolet;
  text-align: center;
}

.from-container>lable{
  font-size: 17px;
  color: rgb(10, 234, 122);
  margin-bottom: 10px;
}

.from-container>input{
  font-size: 15px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid gray;
  color: rgb(15, 14, 14);
  margin-bottom: 7px;
}

.from-container>span{
  font-size: 12px;
  color: red;
  margin-bottom: 7px;
  display: none;
}

.from-container>input:invalid[focused="true"]{
  border: 2px solid red;
}

.from-container>input:invalid[focused="true"] ~ span{
  display: block;
}


button{
  background-color: rgb(53, 96, 239);
  border: none;
  border-radius: 7px;
  height: 30px;
  margin-top: 7px;
  margin-bottom: 10px;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient( to right,#745c13, #5ce144);
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
